header, nav{
    display: block;
}

/* Definimos un ancho 100% y una altura fija para nuestro menú */
header{
    background: #1C1821;
    height:60px;
    position: relative;
    width: 100%;
    z-index: 2
}

/* El logo sera flotado a la izquierda */
#logo{
    background-image: url(../image/header-logo.png);
    display: block;
    float: left;
    margin: 6px 10px 0;
    width: 20%;
    height: 60px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Nuestro nav con id #menu lo flotaremos a la derecha*/
#menu{float: right;}   

    /* Quitamos estilos por defecto de el tag UL */
    #menu ul{
        list-style: none;
        font-size: 14px;
        font-family: 'Open Sans';
        font-style: italic;
    }
        
        /* Centramos y ponemos los textos en mayuscula */
        #menu li{
           display: block;
           float: left;
           text-transform: uppercase;
           text-align: center;
        }
            
            /* Damos estilo a nuestros enlaces */
            #menu li a{
                display: block;
                color: #fff;
                text-decoration: none;
                height: 60px;
                line-height: 60px;
                padding: 0 26px;
            }
            #menu li a:hover{
                background: #151a1e;
                color: #F7BA6A;
            }
    
    /* Estilos #nav-mobile y lo ocultamos */
    #nav-mobile{
        display: none;
        background: url(../image/nav.png) no-repeat center center;
        float: right;
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        top:0;
        opacity: .6;

    }   
        /* Agregaremos esta clase a #nav-mobile, cuando el menu mobile haya sido desplegado */
        #nav-mobile.nav-active{
            opacity: 1;
        }



/*header{
	background-color: #1C1821;
	padding: 1%;
}
nav{
	float: right;
	margin-top: 1.5%;
}
img{
	width: 20%;
}
nav a{
	font-family: 'Open Sans';
 	font-style: italic;
  	font-weight: 400;
  	margin-right: 1.5%;
	text-decoration: none;
	color: white;
}*/
.image-header{
	background-color: #2D2735;
	text-align: center;
	margin: auto;
	padding: 2.5% 0;
}
.background-flower{
	background: url(../image/header-image.jpg) center;
	background-size: cover;
	text-align: center;
	width: 100%;
	padding: 10%;
}
.text{
	text-align: center;
	margin: auto;
	background-color: #1C1821;
	padding: 5%;
	width: 65%;
}
.text h1{
	font-family: 'Courgette';
	font-size: 45px;
	color: #F7BA6A;
}
.text p{
	margin-top: 4%;
	font-family: 'Open Sans';
	font-style: italic;
	color: white;	
}
.proyects{
	text-align: center;
	background-color: #2D2735; 
	padding-bottom: 2.5%;
}
h4{
	font-family: 'Courgette';
	color: #F7BA6A;
}
.dark p{
	font-family: 'Open Sans';
	font-style: italic;
	color: white;	
}
.one{
	background: url(../image/image7.jpg) center;
}
.two{
	background: url(../image/image3.jpg) center;	
}
.three{
	background: url(../image/image2.jpg) center;
}
.background-top{
	background-size: cover;
	text-align: center;
	width: 100%;
	padding-top: 70%
}
.cover-bottom{
	background-color: #1C1821;
	padding: 2%;
}
.blog{
	text-align: center;
	padding-bottom: 2.5%;
	background-color: #2D2735; 
}
.blog1{
	background: url(../image/image4.jpg) center;
	background-size: cover;
	text-align: center;
	width: 100%;
	padding-top: 70%
		
}
.cover-blog{
	background-color: #1C1821;
	padding: 2%;
	
}	
.cover-blog h4{
	font-family: 'Courgette';
	color: #F7BA6A;
}
.cover-blog p{
	font-family: 'Open Sans';
	color: white;	
}
.form{
	padding: 5%;
	background-color: #1C1821;
	width: 100%;
}
input{
	background-color: #2D2735;
	font-family: 'Open Sans';
	padding: 2% 5%;
	border: none;
	width: 100%;
}
iframe{
	width: 100%;
}
.girl{
	background-color: #1C1821;
	width: 100%;
	font-family: 'Open Sans';
	color: white;
	padding: 1%;
	float: left;
}
.girl-img{
	width: 100%;
}
.social{

}
.fa{
	padding: 2%;
	background: #2D2735;
	font-size: 1em;
	border-radius: 50%;
}
footer{
	color:#C8CCCC;	
}
footer p{
color:#C8CCCC;
background-color:#1C1821;
width:100%;
padding:4%;
text-align: center;
font-family: "Open Sans";
}
/* Responsive */

@media screen and (max-width : 920px) {
	[class*="col-"] {
		width: 100%;

}
.form{
	display: none;
}
.girl{
	display: none;
}
 /* mostramos #nav-mobile */
    #nav-mobile{ display: block;}

    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo  */
    #menu{
        width: 100%;
        float: none;
        padding-top: 60px;
    }
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #33363b;
                border-bottom: 1px solid #282b30;
                float: none;
            }

            /* Quitamos el borde del ultimo item del menú */
            #menu li:last-child{ border-bottom: 0;}
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;
                }
                #menu li a:hover{background:#2a2d33}

        /* Agregamos una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            -webkit-transition: max-height .4s;
            -moz-transition: max-height .4s;
            -ms-transition: max-height .4s;
            -o-transition: max-height .4s;
            transition: max-height .4s;}

@media screen and (max-width: 600px) {
	[class*="col-"] {
		width: 100%;
}
.form{
	display: none;
}
.girl{
	display: none;
}
 /* mostramos #nav-mobile */
    #nav-mobile{ display: block; }

    /* Fijamos nuestro nav en 100% ancho y dejamos de flotarlo  */
    #menu{
        width: 100%;
        float: none;
        padding-top: 60px;
    }
        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        #menu ul{
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
            box-shadow: 0 1px 2px rgba(0,0,0,.5);
            max-height: 0;
            overflow: hidden;
        }
            /* estilos para los LI del menu */
            #menu li{
                background: #33363b;
                border-bottom: 1px solid #282b30;
                float: none;
            }

            /* Quitamos el borde del ultimo item del menú */
            #menu li:last-child{ border-bottom: 0;}
                #menu li a{
                    padding: 15px 0;
                    height: auto;
                    line-height: normal;
                }
                #menu li a:hover{background:#2a2d33}

        /* Agregamos una animación al despligue del menú */
        #menu ul.open-menu{
            max-height: 400px;
            -webkit-transition: max-height .4s;
            -moz-transition: max-height .4s;
            -ms-transition: max-height .4s;
            -o-transition: max-height .4s;
            transition: max-height .4s;
}
header{
    height:80px;
}
#logo{
    background-image: url(../image/header-logo.png);
    display: block;
    float: left;
    margin: 6px 10px 0;
    width: 80%;
    height: 80px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
}
}